<div class="container page-settings">


    <!--ProfileName-->
    <%- include('../helper/inputtext', {id:'igpost_setProfileName', placeholder:'Your profile name here', label:'Profile Name'})%>

    <!--LOGO IMAGE SETTING-->
    <div class="page-setting-element">
        <%- include('../helper/imagefileselector', {imageselectorlabel:'Profile Logo:',imgInputId:'igpost_setProfileIcon', helptext:'100 * 100 (.png .jpg .jpeg)'}) %>
    </div>

    <div class="page-setting-element">
        <div class="slds-form-element">
            <div class="slds-form-element__control">
                <div class="slds-checkbox">
                    <input type="checkbox" id="igpost_setVerified" />
                    <label class="slds-checkbox__label" for="igpost_setVerified">
                        <span class="slds-checkbox_faux"></span>
                        <span class="slds-form-element__label">Profile Verified</span>
                    </label>
                </div>
            </div>
        </div>
    </div>


    <!--POST IMAGE SETTING-->
    <div class="page-setting-element">
        <%- include('../helper/imagefileselector', {imageselectorlabel:'Post Image:',imgInputId:'igpost_setPostimage', helptext:'800 * 800 (.png .jpg .jpeg)'}) %>
    </div>

    <!--IG Post Text-->
    <div class="page-setting-element">
        <div class="slds-form-element">
            <label class="slds-form-element__label" for="igpost-post">Post</label>
            <div class="slds-form-element__control">
                <textarea id="igpost_setPostText" class="slds-textarea" maxlength="150" rows="5"
                    placeholder="Your post here"></textarea>
            </div>
        </div>
    </div>

    <div class="slds-m-top_xx-large slds-text-align--center">
        <div class="slds-m-around_small">
            <button id="igpost_reset" class="slds-button slds-button_outline-brand width80">Reset</button>
        </div>
    </div>

</div>

<script>
    $('#igpost_setVerified').prop('checked', true).change();


    $("#igpost_reset").click(function () {
        $('#igpost_setProfileName').val('salesforce').change();
        $('#igpost_getProfileIcon').attr("src", "img/salesforce-logo.png");
        $('#igpost_setVerified').prop('checked', true).change();
        $('#igpost_getPostImage').attr("src", "img/insta_img-placeholder_salesforcepost.jpg");
        $('#igpost_setPostText').val('').change();
    });
</script>