<div class="container page-settings">

    <!--TIME SETTING-->
    <div class="page-setting-element">
        <%- include('../helper/timeselector') %>
    </div>

    <!--INITIALS SETTING-->
    <div class="slds-form-element page-setting-element">
        <label class="slds-form-element__label" for="lm_initialLetterInput">
        Contact Personas Initials
    </label>
        <div class="slds-form-element__control">
            <input type="text" class="slds-input" placeholder="" id="lm_contactInitials" maxlength="2" />
        </div>
    </div>

    <!--CONTACT NAME SETTING-->
    <div class="page-setting-element">
        <%- include('../helper/inputtext', {id:'lm_contactName', placeholder:'', label:'Contact Persona Name:'})%>
    </div>

    <!--MESSAGE FROM SENDER-->
    <div class="slds-form-element page-setting-element">
        <label class="slds-form-element__label" for="lm_senderMessage">Message From Sender:</label>
        <div class="slds-form-element__control">
            <textarea id="lm_senderMessage" class="slds-textarea" placeholder=""></textarea>
        </div>
        <button id="addFromThem">Add</button>
    </div>
    
    <!--MESSAGE FROM RECEIVER-->
    <div class="slds-form-element page-setting-element">
        <label class="slds-form-element__label" for="lm_receiverMessage">Message From Receiver:</label>
        <div class="slds-form-element__control">
            <textarea id="lm_receiverMessage" class="slds-textarea" placeholder=""></textarea>
        </div>
        <button id="addFromMe">Add</button>
    </div>



    <div>
        <button id="removeLast" class="helperButton">Remove Last Message</button>
    </div>

    <div>
        <button id="clear" class="helperButton">Clear</button>
    </div>


</div>
