<div class="container page-settings">

    <!--MOCKUP TEXT SETTING-->

    <!--TIME SETTING-->
    <div class="page-setting-element">
        <%- include('../helper/timeselector') %>
    </div>


    <!--CONTACT NAME SETTING-->
    <div class="page-setting-element">
        <%- include('../helper/inputtext', {id:'lm_contactNameInput', placeholder:'', label:'Contact Persona Name:'})%>
    </div>

    <!--MESSAGE FROM SENDER-->
    <div class="slds-form-element slds-m-bottom_xx-large">
        <label class="slds-form-element__label" for="lm_senderMessage">Message From Sender:</label>
        <div class="slds-form-element__control">
            <textarea id="lm_senderMessage" class="slds-textarea slds-m-bottom_xx-small" placeholder=""></textarea>
            <button id="addFromThem" class="slds-float_right slds-button slds-button_outline-brand">Add</button>
        </div>

    </div>

    <!--MESSAGE FROM RECEIVER-->
    <div class="slds-form-element slds-m-bottom_xx-large">
        <label class="slds-form-element__label" for="lm_receiverMessage">Message From Receiver:</label>
        <div class="slds-form-element__control">
            <textarea id="lm_receiverMessage" class="slds-textarea slds-m-bottom_xx-small" placeholder=""></textarea>
            <button id="addFromMe" class="slds-float_right slds-button slds-button_outline-brand">Add</button>
        </div>
    </div>

    <!--MESSAGE FONT SIZE-->
    <div class="slds-form-element slds-m-bottom_xx-large">
        <label class="slds-form-element__label" for="lm_receiverMessage">Font Size (px):</label>
        <div class="slds-form-element__control">
            <input id="lm_fontSize" type="number" class="slds-input" placeholder="" value="15" min="8"></input>
        </div>
    </div>


    <!--CHAT MESSAGE HELPER BUTTONS-->

    <div class="lm_settings_helperbuttons slds-text-align--center">
        <div class="slds-m-around_small">
            <button id="removeLast" class="slds-button slds-button_outline-brand">Remove Last Message</button>
        </div>

        <div class="slds-m-around_small">
            <button id="clear" class="slds-button slds-button_brand">Clear All</button>
        </div>
    </div>



</div>