<div class="slds-m-around_x-small">
    <h6>Design your Mockup</h6>
    <span class="normal-inlineheight">Lorem Ipsum is a dummy text that is mainly used by the printing and design industry. It is intended to show how the type will look before the end product is available.
    </span>
</div>
