<style>
    .arrow-down {
        display: inline-block;
        padding-bottom: 4px;
        margin-left: 4px;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #fff;
    }
</style>

<div class="page-downloadbutton">
    <a id="pagebutton-downloadmockup">Download <span class="arrow-down"></span></a>
</div>