<div class="page-header">
    <div class="page-title">
        <span id="page-header-title"></span>
    </div>

    <div class="page-downloadmockup">
        <a id="pagebutton-downloadmockup">Download Mockup</a>
    </div>
</div>