<!-- views/partials/header.ejs -->

<!--Stylesheet-->
<link rel="stylesheet" type="text/css" href="/assets/styles/salesforce-lightning-design-system.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
<link rel="stylesheet" href="css/bootstrap-colorpicker.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.2/css/all.css" >
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.css">

<!--JS-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
<script src="js/helper.js"></script>
<script src="js/bootstrap-colorpicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/locales/bootstrap-datepicker.en-AU.min.js"></script>
    
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment-with-locales.min.js"></script>

<!--Page Content--->

<div class="slds-page-header" style="margin-bottom:20px;">
    <div class="slds-media">
        <div class="slds-media__figure">
            <span class="slds-icon_container slds-icon-standard-opportunity" title="Description of icon when needed">
                <svg class="slds-icon slds-page-header__icon" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#opportunity" />
                </svg>
            </span>
        </div>
        <div class="slds-media__body">
            <h1 class="slds-page-header__title slds-truncate slds-align-middle">Mockup Toolkit</h1>
            <p class="slds-text-body_small slds-line-height_reset"></p>
        </div>
    </div>
</div>
