<style>
    .ig_shade_bg {
        background-color: #fafafa;
    }

    .ig_appHeader {
        border-bottom: 1px solid #dbdbdb;
    }

    .ig_appHeader .igIcon img {
        height: 30px;
    }

    .buffer {
        height: 20px;
    }
</style>

<div class="ig_appHeader ig_shade_bg">
    <!-- <div class="buffer ig_shade_bg"></div> -->
    <div class="slds-grid slds-p-around_small slds-grid_vertical-align-end">
        <div class="slds-col slds-size_1-of-4">
            <div class="igIcon slds-text-align_left">
                <img src="img/insta_icon_camera.png" />
            </div>
        </div>
        <div class="slds-col slds-size_1-of-2 slds-text-align_center">
            <div class="igIcon">
                <img src="img/insta_icon_appname_300x.png" style="height:40px" />
            </div>
        </div>
        <div class="slds-col slds-size_1-of-4 slds-text-align_right">
            <div class="igIcon">
                <img src="img/insta_icon_like_blk.png" />
            </div>
        </div>
    </div>
</div>