<style>
    .ig_shade_bg {
        background-color: #fafafa;
    }

    .ig_appFooter {
        border-top: 1px solid #dbdbdb;
        position: absolute;
        bottom: 0px;
        width: 100%;
    }

    .ig_appFooter .igIcon img {
        height: 30px;
    }
</style>

<div class="ig_appFooter ig_shade_bg">
    <div class="slds-grid slds-p-around_small slds-text-align_center">
        <div class="slds-col slds-size_1-of-5">
            <div class="igIcon">
                <img src="img/insta_icon_home.png" />
            </div>
        </div>
        <div class="slds-col slds-size_1-of-5">
            <div class="igIcon">
                <img src="img/insta_icon_search.png" />
            </div>
        </div>
        <div class="slds-col slds-size_1-of-5">
            <div class="igIcon">
                <img src="img/insta_icon_add.png" />
            </div>
        </div>
        <div class="slds-col slds-size_1-of-5">
            <div class="igIcon">
                <img src="img/insta_icon_share.png" />
            </div>
        </div>
        <div class="slds-col slds-size_1-of-5 ">
            <div class="igIcon">
                <img src="img/insta_icon_contact.png" />
            </div>
        </div>
    </div>
</div>