<!-- views/partials/naver.ejs -->

<script src="js/partials/navbarHorizontal.js"></script>
<link rel="stylesheet" type="text/css" href="css/partials/navbarHorizontal.css">

<nav class="page-navbar_horizontal slds-p-horizontal_large">
    <div class="slds-grid slds-grid--vertical-align-center">
        <div class="slds-col slds-size_1-of-6 ">
            <div class="slds-p-vertical_x-small slds-p-horizontal_medium">
                <a href="/"><img src="img/home_qbranchLogo.png" style="height:auto; max-width:60px;" /></a>
            </div>
        </div>
        <div class="slds-col slds-size_5-of-6">
            <ul class="slds-text-align_right">
                <li class="nav-item_horizontal" name="facebook">
                    <a href="/facebook" class="nav-horizontal_action">Facebook Ad</a>
                </li>
                <li class="nav-item_horizontal" name="facebook-post">
                    <a href="/facebook-post" class="nav-horizontal_action">Facebook Post</a>
                </li>
                <li class="nav-item_horizontal" name="instagram-post">
                    <a href="/instagram-post" class="nav-horizontal_action">Instagram Post</a>
                </li>
                <!-- <li class="nav-item_horizontal" name="twitter-post">
                    <a href="/twitter-post" class="nav-horizontal_action">Twitter Post</a>
                </li> -->
                <li class="nav-item_horizontal" name="livemessage">
                    <a href="/messaging-sms" class="nav-horizontal_action" aria-current="page">Messaging - SMS</a>
                </li>
                <li class="nav-item_horizontal" name="notifications">
                    <a href="/notifications" class="nav-horizontal_action">Push Notifications</a>
                </li>
            </ul>
        </div>
    </div>
</nav>