<!-- views/partials/naver.ejs -->

<div class="page-navbar">
    <div class="page-navbar-logo">
        <img src="img/awesome-logo.png"/>
    </div>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link active" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/livechat">LIVE CHAT</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/livemessage">LIVE MESSAGE</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/notifications">NOTIFICATIONS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/facebookstandardad">FB STANDARD AD</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/email">EMAIL</a></li>
    </ul>

</div>

