<!-- views/partials/naver.ejs -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="page-navbar">
    <div class="page-navbar-logo slds-text-align--center">
        <img src="img/salesforce-logo.png" style="width:120px;"/>
    </div>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="/livechat">LIVE CHAT</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/livemessage">LIVE MESSAGE</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/notifications">NOTIFICATIONS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/facebook">FACEBOOK LEAD AD</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/email">EMAIL</a></li>
    </ul>

</div>


