<!-- views/partials/naver.ejs -->

<style>
    .page-navbar_horizontal {
        height: 10%;
        max-height: 85px;
        background-color: #070c20;
    }

    .page-navbar_horizontal ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .page-navbar_horizontal li {
        display: inline-block;
        width: 15%;
        text-align: center;
    }

    .page-navbar_horizontal li a:hover,
    .page-navbar_horizontal li a:focus,
    .page-navbar_horizontal li a:focus-within,
    .page-navbar_horizontal li a:active {
        color: white;
        transition: 0.5s;
        text-decoration: none;
    }

    .nav-horizontal_action {
        color: #ccc;
    }

    li.page-is-active a {
        color: #FFF;
    }
</style>

<nav class="page-navbar_horizontal slds-p-horizontal_large">
    <div class="slds-grid slds-grid--vertical-align-center">
        <div class="slds-col slds-size_1-of-6 ">
            <div class="slds-p-vertical_x-small slds-p-horizontal_medium">
                <a href="/"><img src="img/home_qbranchLogo.png" style="height:auto; max-width:60px;" /></a>
            </div>
        </div>
        <div class="slds-col slds-size_5-of-6">
            <ul class="slds-text-align_right">
                <li class="nav-item_horizontal" name="facebook">
                    <a href="/facebook" class="nav-horizontal_action">Facebook Ad</a>
                </li>
                <li class="nav-item_horizontal" name="facebook-post">
                    <a href="/facebook-post" class="nav-horizontal_action">Facebook Post</a>
                </li>
                <li class="nav-item_horizontal" name="instagram-post">
                    <a href="/instagram-post" class="nav-horizontal_action">Instagram Post</a>
                </li>
                <!-- <li class="nav-item_horizontal" name="twitter-post">
                    <a href="/twitter-post" class="nav-horizontal_action">Twitter Post</a>
                </li> -->
                <li class="nav-item_horizontal" name="livemessage">
                    <a href="/livemessage" class="nav-horizontal_action" aria-current="page">Live Message</a>
                </li>
                <li class="nav-item_horizontal" name="notifications">
                    <a href="/notifications" class="nav-horizontal_action">Push Notifications</a>
                </li>



            </ul>
        </div>
    </div>
</nav>


<script>
    $(document).ready(function () {
        var page = window.location.href.split('/').slice(-1)[0];
        $("nav.page-navbar_horizontal li").removeClass("page-is-active");
        $("nav.page-navbar_horizontal li[name='" + page + "'").addClass("page-is-active");
    });
</script>