<!-- views/partials/naver.ejs -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="css/main.css">

<div class="page-navbar">
    <div class="page-navbar-logo slds-text-align--center">
        <img src="img/salesforce-logo.png" style="width:120px;" />
    </div>
    <nav class="slds-nav-vertical" aria-label="nav-bar">
        <div class="slds-nav-vertical__section">
            <ul>
                <li class="slds-nav-vertical__item slds-is-active" name="livemessage">
                    <a href="/livemessage" class="slds-nav-vertical__action" aria-describedby="entity-header"
                        aria-current="page">Live Message</a>
                </li>
                <!-- <li class="slds-nav-vertical__item" name="livechat">
                    <a href="/livechat" class="slds-nav-vertical__action" aria-describedby="entity-header">Live Chat</a>
                </li> -->
                <li class="slds-nav-vertical__item" name="notifications">
                    <a href="/notifications" class="slds-nav-vertical__action" aria-describedby="entity-header">Push
                        Notifications</a>
                </li>
                <li class="slds-nav-vertical__item" name="facebook-post">
                    <a href="/facebook-post" class="slds-nav-vertical__action" aria-describedby="entity-header">Facebook
                        Post</a>
                </li>
                <li class="slds-nav-vertical__item" name="facebook">
                    <a href="/facebook" class="slds-nav-vertical__action" aria-describedby="entity-header">Facebook
                        Lead Ad</a>
                </li>
                <li class="slds-nav-vertical__item" name="instagram-post">
                    <a href="/instagram-post" class="slds-nav-vertical__action"
                        aria-describedby="entity-header">Instagram Post</a>
                </li>

                <!-- <li class="slds-nav-vertical__item" name="instagramProfile">
                    <a href="/instagram-profile" class="slds-nav-vertical__action"
                        aria-describedby="entity-header">Instagram Profile</a>
                </li> -->
                <!-- <li class="slds-nav-vertical__item">
                    <a href="/email" class="slds-nav-vertical__action" aria-describedby="entity-header">Email</a>
                </li> -->

            </ul>
        </div>
    </nav>
</div>


<script>
    $(document).ready(function () {
        var page = window.location.href.split('/').slice(-1)[0];
        if (page && page.length == 0) {
            page = 'livemessage';
        }
        $("div.page-navbar li").removeClass("slds-is-active");
        $("div.page-navbar li[name='" + page + "'").addClass("slds-is-active");

    });
</script>