<!-- views/partials/timesetting.ejs -->

<!--Date/Time Setting-->
<div id=setDateTime class="container ctn--settingpanel--parts">
    <!--Date Setting-->
    <div class="form-group" id="dateInputGroup">
        <label for="setDate">Date</label>
        <input type="text" id="setDate" class="form-control" placeholder="Click to select...">
    </div>

    <!--Time Setting-->
    <div class="form-group" id="timeInputGroup">
        <label for="setTime">Time:</label>
        <div class="row" id="setTime">
            <!--Set Hour-->
            <div class="col">
                <select class="form-control setTimeSelectorGroup" id="setHourSelector">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                            <option>6</option>
                                            <option>7</option>
                                            <option>8</option>
                                            <option>9</option>
                                            <option>10</option>
                                            <option selected="selected">11</option>
                                            <option>12</option>
                                        </select>
            </div>
            <!--Set Minutes-->
            <div class="col">
                <select class="form-control setTimeSelectorGroup" id="setMinuteSelector">
                                            <option>00</option>
                                            <option>15</option>
                                            <option selected="selected">30</option>
                                            <option>45</option>
                                        </select>
            </div>
        </div>
    </div>
</div>
<!--Date/Time Setting/-->
