<div class="slds-form-element">
    <label class="slds-form-element__label">Current Date:</label>
    <div class="datepicker-container">
        <input class="datepicker slds-select" /><i class="fas fa-calendar-alt"></i>
    </div>
</div>

<style>
    div.datepicker-container {
        background: white;
        width: auto;
    }

    div.datepicker-container>input {
        width: 100%;
        text-align: left;
        padding-left: 1rem;
    }
</style>

<script>
    $(document).ready(function () {
        $('input.datepicker').val(moment().format('dddd, DD MMMM'));
    });
</script>