<label class="slds-form-element__label">Current Date:</label>
<div class="datepicker-container border-round_small">
    <input class="datepicker" ><i class="fas fa-calendar-alt"></i>
</div>

<style>
    div.datepicker-container {
        background:white;
        width:auto;
    }
    
    div.datepicker-container > input {
        border:none;
        width:85%;
        margin-left:5%;
        text-align:center;
    }
    
    
</style>

<script>
    $(document).ready(function() {
        $('input.datepicker').val(moment().format('dddd, DD MMMM'));
    });
</script>