<div class="slds-form-element">
    <label class="slds-form-element__label" for="<%= id %>">
        <%= label %>
    </label>
    <div class="slds-form-element__control">
        <input type="text" class="slds-input" placeholder=
               "<%= placeholder %>" id="<%= id %>"/>
    </div>
</div>
