
<label class="slds-form-element__label">Current Time:</label>
<div class="timepicker-container border-round">
    <input class="timepicker"><i class="far fa-clock"></i>
</div>

<style>
    div.timepicker-container {
        background:white;
        width:auto;
    }
    
    div.timepicker-container > input {
        border:none;
        width:85%;
        margin-left:5%;
        text-align:center;
    }
    
    .ui-timepicker-standard {
        font-size:0.8125rem;
    }
    
</style>