<script>
    function displayText(srcElemId, destElemId) {
        let elemSrc = document.getElementById(srcElemId).value;
        let elemDest = document.getElementById(destElemId);
        elemDest.innerHTML = elemSrc;
    }

    $(document).ready(function() {

        // Display Message Text in Preview Panel 
        $('.message').on('keyup', function() {
            displayText(this.id, this.id + 'Text');
        });

    });

</script>

<!--Color Setting-->
<script src="/js/jscolor.js"></script>
<div class="container" id="colorInputGroup">
    <div class="form-group">
        <label for="setColor">Text color:</label><br>
        <input type="button" class="btn btn-outline-secondary jscolor" id="setColor" />
    </div>
</div>

/*Notes*/ >>NODE Node Error: listen EADDRINUSE :::3000 (The port is using by another process) Commandline: killall -9 node Rerun Node yourapp >> Brackets Userful extention: Autoprefixer Parse CSS and add vendor prefixes automatically. Beautify Format JavaScript, HTML, and CSS files and related languages. CSSLint Adds CSSLint support to Brackets. Indentator Re-indent a document using your current indentation settings. Todo Display all TODO comments in current document or project. Shortcut: https://github.com/adobe/brackets/wiki/Brackets-Shortcuts Command+/ auto comment


<!--TopBar Display-->
<div class="row topbar">
    <div class="col">
        <i class="fas fa-signal"></i>
    </div>
    <div class="col">
        <i class="fas fa-lock"></i>
    </div>
    <div calss="col">
        <i class="fas fa-battery-three-quarters"></i>
    </div>
</div>

 div#notificationAppLogo {
            width: 25px;
            height: 25px;
            display: block;
            position: relative;
            overflow: hidden;
        }

        div#notificationAppLogo img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
        }

