<!-- views/home.ejs -->
<!-- Google Tag Manager (noscript) -->
<%- include("partials/header") %>
<!-- <script src="js/pages/home.js"></script> -->
<link rel="stylesheet" type="text/css" href="css/pages/home.css">

<body>
    <div class="homeBackground">
        <div>
            <%- include("partials/navbarHorizontal") %>
        </div>
        <div class="slds-align_absolute-center" style="height:90%">
            <div class="content">
                <div class="slds-text-align_center">
                    <div class="title">
                        <p>Create beautiful</p>
                        <p>mockups in seconds.</p>
                    </div>
                    <div class="caption">
                        <p class="slds-p-top_large">Q Mockup Builder lets you create inspirational visuals for social
                            media,
                            messages, ads, and more!</p>
                    </div>
                    <div class="cta-button">
                        <button><a href="/facebook">Get Started <div class="triangle-right"></div></a></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="slds-text-align_center slds-p-vertical_small">
                <span>Brought to you by Q</span>
            </div>
        </div>
        <%- include('partials/footer') %>
    </div>
</body>