<!-- views/home.ejs -->
<!-- Google Tag Manager (noscript) -->
<%- include("partials/header") %>

<style>
    @font-face {
        font-family: 'Gotham Bold';
        src: url(assets/fonts/webfonts/Gotham-Bold.woff) format("woff");
    }

    @font-face {
        font-family: 'SalesforceSans-Light';
        src: url(assets/fonts/webfonts/SalesforceSans-Light.woff) format("woff");
    }

    div.homeBackground {
        background-image: url('img/home_background.png');
        height: 100vh;
        width: 100vw;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
    }

    div.title,
    div.cta-button,
    div.footer {
        color: white;
    }

    div.footer {
        font-size: 12px;
        background: #011935;
        position: fixed;
        bottom: 0px;
        width: 100%;
    }

    div.content {
        width: 70%;
        margin: auto;
        padding-top: 16%;
    }

    div.title p {
        font-family: Gotham Bold, Arial, Helvetica, sans-serif;
        line-height: 4.25rem;
    }

    div.title>p:first-child {
        font-size: 6.75rem
    }

    div.title>p:nth-child(2) {
        font-size: 5.25rem;
    }

    div.caption {
        font-size: 1.725rem;
        color: #ccc;
        font-family: SalesforceSans-Light;
        width: 70%;
        margin: auto;
    }

    div.cta-button {
        padding-top: 4rem;
    }

    div.cta-button button {
        background: #00a1e0;
        border: 0px;
        padding: 1rem 4rem;
        border-radius: 60px 60px 60px 60px;
        font-size: 1.5rem;
    }

    .triangle-right {
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-left: 12px solid #fff;
        border-bottom: 10px solid transparent;
        display: inline-block;
        margin-left: 0.5rem;
    }
</style>

<body>


    <div class="homeBackground">
        <div>
            <%- include("partials/navbarHorizontal") %>
        </div>

        <div class="content">
            <div class="slds-text-align_center">
                <div class="title">
                    <p>Create beautiful</p>
                    <p>mockups in seconds.</p>
                </div>
                <div class="caption">
                    <p class="slds-p-top_large">Q Builder lets you create inspirational visuals for social media,
                        messages, ads, and more!</p>
                </div>
                <div class="cta-button">
                    <button>Get Started <div class="triangle-right"></div></button>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="slds-text-align_center slds-p-vertical_small">
                <span>Brought to you by Q</span>
            </div>
        </div>
        <%- include('partials/footer') %>
    </div>
</body>