<!-- views/home.ejs -->
<!-- Google Tag Manager (noscript) -->
<%- include("partials/header") %>

<body>
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NK9RC64" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="slds-grid">
        <div class="slds-col slds-size_1-of-7">
            <%- include("partials/navbar") %>
        </div>
        <div class="slds-col slds-size_6-of-7 ">
            <div class="slds-grid">
                <div class="slds-col slds-size_4-of-6 ">
                    <div class="page-content">
                        <div class="slds-align_absolute-center">
                            <%- include("displays/facebookDisplay") %>
                        </div>
                    </div>
                </div>
                <div class="slds-col slds-size_2-of-6 page-rightbar">
                    <%- include("settings/facebookSettings") %>
                </div>
            </div>
        </div>
    </div>
</body>