<!-- views/instagramPost.ejs -->
<meta charset="utf-8">
<title>mockup builder - instagram post</title>

<div class="slds-grid">
    <div class="slds-col slds-size_1-of-7">
        <%- include('partials/navbar') %>
    </div>
    <div class="slds-col slds-size_6-of-7 ">
        <%- include('partials/header') %>
        <div class="slds-grid">
            <div class="slds-col slds-size_4-of-6 ">
                <div class="page-content">
                    <div class="slds-align_absolute-center">
                        <%- include('displays/instagramPostDisplay') %>
                    </div>
                </div>
            </div>
            <div class="slds-col slds-size_2-of-6 page-rightbar">
                <%- include('settings/instagramPostSettings') %>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        //Profile Name
        bindSettingAndDisplayTextField('igpost_setProfileName', '.igpost_getProfileName');

        //Verified 
        bind_setCheckbox_showElement('igpost_setVerified', '#igpost_getVerified');

        //Post
        bind_setPost_displayPost_withHashTag('igpost_setPostText', 'igpost_getPostText')

        //SET APP LOGO IMAGE
        $("#igpost_setProfileIcon").change(function () {
            readURL(this, $('#igpost_getProfileIcon'));
        });

        $("#igpost_setPostimage").change(function () {
            readURL(this, $('#igpost_getPostImage'));
        });

        download_mockup_active();
    });
</script>