<!-- views/notifications.ejs -->

<link rel="stylesheet" href="css/notification.css">

<div class="slds-grid">
    <div class="slds-col slds-size_1-of-7">
        <%- include('partials/navbar') %>
    </div>
    <div class="slds-col slds-size_4-of-7 ">
        <%- include('partials/header') %>
            <div class="slds-align_absolute-center">
                <div class="page-screen">
                    <%- include('notification/notificationDisplay') %>
                </div>
            </div>
    </div>
    <div class="slds-col slds-size_2-of-7 page-rightbar">
        <%- include('notification/notificationSettings') %>
    </div>

</div>





<script>
    $(document).ready(function() {

        //DISPLAY TODAYS DATE - USING HELPER FUNCTION
        displayTodayDate($('#datedisplay'));

        
        //TIME PICKER
        $('input.timepicker').timepicker({
            timeFormat: 'H:mm',
            interval: 30,
            minTime: '0:00am',
            maxTime: '23:59pm',
            defaultTime: '9:30am',
            startTime: '7:00',
            dynamic: false,
            dropdown: true,
            scrollbar: true,
            change: function() {
                $('#timedisplay').html(this.val());
            },
        });
        
        //DATE PICKER
        $('input.datepicker').datepicker({
            format: "DD, dd MM",
            maxViewMode: 2,
            autoclose: true
        });

        $('input.datepicker').on('change', function() {
            $("#datedisplay").html($('input.datepicker').val());
        });

        //SET APP NAME
        $("#n_setAppName").on('keyup', function() {
            $("#notificationTitleSpan").html($("#n_setAppName").val());
        });

        //SET APP LOGO IMAGE
        $("#n_setAppLogoImage").change(function() {
            readURL(this, $('#appLogo'));
        });
        
        //SET NOTIFICATION TIME AGO
        $("#n_setTimeAgo").change(function() {
            $('#notificationTimeSpan').html($("#n_setTimeAgo").val());
        });

        //SET NOTIFICATION MESSAGE
        $("#n_setNotification").on('keyup', function() {
            $("#notificationMessageSpan").html($("#n_setNotification").val().replace(/\r?\n/g, '<br/>'));
        });
        
    });

</script>
