<!-- views/notifications.ejs -->

<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
    <title>NOTIFICATION MOCKUP</title>

    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
    <!--Awesome Icons-->
    <link href="https://use.fontawesome.com/releases/v5.0.2/css/all.css" rel="stylesheet">
    <!--jQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!--Date Picker-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/locales/bootstrap-datepicker.en-AU.min.js"></script>
    <!--Moment-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment-with-locales.min.js"></script>

    <!--HTML2CANVAS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>

    <!--LOCAL-->
    <script src="js/helper.js"></script>


    <style>
        body {
            padding-top: 20px;
            padding-bottom: 20px;
        }

        .ctn--displaypanel {

            position: relative;
            width: 375px;
            /** width: 750px; **/
            height: 667px;
            /** height: 1334px; **/
            overflow: hidden;
            background-image: url("img/Lock_Screen_Background.png");
            background-size: cover;
        }

        .dateTimeDisplay {
            text-align: center;
            position: absolute;
            margin-top: 60px;
            font-family: -apple-system, BlinkMacSystemFont, sans-serif;
            font-weight: 200;
            color: white;
        }

        .time {
            font-size: 65px;
        }

        .date {
            font-size: 20px;
            margin-top: -12px;
        }

        .notificatondisplay {
            position: absolute;
            margin-top: 190px;
            margin-left: 10px;
            width: calc(100% - 20px);
            padding: 10px 10px;
            background-color: rgba(255, 255, 255, 0.8);
            border-radius: 12px;
            font-size: 0.825rem;
            font-family: -apple-system, BlinkMacSystemFont, sans-serif;
            white-space: nowrap;

        }

        span.wraptext {
            overflow: break-word;
            text-wrap: break-word;
            white-space: initial;
            hyphens: auto;
        }

        span.uppercase {
            text-transform: uppercase;
        }

        span.notificationBar {
            color: rgba(0, 0, 0, 0.9);
            vertical-align: middle;
        }

         div#notificationAppLogo {
            width: 25px;
            height: 25px;
            display: block;
            position: relative;
            overflow: hidden;
            padding: 0px;
        }

        div#notificationAppLogo img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
        }

        div#notificationAppName {
            /* Reduce the default left/right padding on div 15px->5px */
            padding: 0px 5px;
        }

        div#notificationTime {
            text-align: right;
        }

        div#notificationMessage {
            /* Add extra padding above notification message */
            padding-top: 10px;
        }

    </style>
</head>

<body>
    <div class="container">
        <%- include('partials/header') %>
            <div class="row">
                <div class="col-2">
                    <%- include('partials/navbar') %>
                </div>

                <!--LEFT COLUMN-->
                <div class="col-5">
                    <div class="container ctn--settingpanel">

                    <%- include('partials/timesetting') %>


                        <!--Notificaton Setting-->
                        <div class="container ctn--settingpanel--parts" id="NotificationInputGroup">

                            <div class="form-group">
                                <label for="setLogo">App Logo:</label>
                                <input type="file" id="setLogo" accept=".jpg, .jpeg, .png" />
                                <small id="setLogoHelp" class="form-text text-muted">100px * 100px (.jpg .jpeg .png)</small>
                            </div>

                            <div class="form-group">
                                <label for="setAppName">App Name:</label>
                                <input type="text" class="form-control" id="setAppName" aria-describedby="setAppNameHelp" placeholder="Please input..." maxlength="25">
                                <small id="setAppNameHelp" class="form-text text-muted">Max 25 characters</small>
                            </div>

                            <div class="form-group">
                                <label for="setNotification">Notification:</label>
                                <textarea class="form-control" id="setNotification" aria-describedby="setNotificationHelp" rows="3" placeholder="Please input..." maxlength="300"></textarea>
                                <small id="setNotificationHelp" class="form-text text-muted">Max 300 characters</small>
                            </div>

                        </div>
                    </div>
                </div>
                <!--RIGHT COLUMN (Display) -->
                <div class="col-5">
                    <!--Screen Display-->
                    <div class="container ctn--displaypanel">

                        <!--Time + Date Display-->
                        <div class="row">
                            <div class="col dateTimeDisplay">
                                <div id="timedisplay" class="time">
                                    11:30
                                </div>

                                <div id="datedisplay" class="date">
                                    <!--jQuery Loading today's date using moment()-->
                                </div>
                            </div>

                        </div>

                        <!-- Notification Display-->
                        <div class="row">
                            <div class="notificatondisplay">
                                <div class="col">
                                    <div class="row" id="notificationHeadlineDisplay">
                                        <div id="notificationAppLogo">
                                            <img id="appLogo" src="img/salesforce-logo.png"/>
                                        </div>
                                        <div class="col-1" id="notificationAppName">
                                            <span id="notificationTitleSpan" class="uppercase notificationBar">App name</span>
                                        </div>
                                        <div class="col-8"></div>
                                        <div class="col-offset-2" id="notificationTime">
                                            <span id="notificationTimeSpan" class="notificationBar">2m ago</span>
                                        </div>
                                    </div>
                                    <div class="row" id="notificationMessage">
                                        <span id="notificationMessageSpan" class="wraptext">Example Notifications</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!--End of lockscreen-->
                </div>
            </div>
            <%- include('partials/footer') %>
    </div>

    <script>
        function setDatePicker(input, output) {
            input.datepicker({
                format: "DD, dd MM",
                maxViewMode: 2,
                autoclose: true
            });

            input.on('change', function() {
                output.html(input.val());
            });
        }

        function getTime(inputHour, inputMin) {
            const selectedHour = inputHour.val();
            const selectedMin = inputMin.val();
            const d = selectedHour + ':' + selectedMin;
            return d;
        }


        $(document).ready(function() {

            //DISPLAY TODAYS DATE - USING HELPER FUNCTION
            displayTodayDate($('#datedisplay'));

            //DISPLAY DYNAMIC SETTING DATE - USING LOCAL FUNC
            setDatePicker($('#setDate'), $('#datedisplay'));

            //DISPLAY DYNAMIC SETTING TIME - USING LOCAL FUNC
            $('.setTimeSelectorGroup').on('change', function() {
                $('#timedisplay').html(getTime($('#setHourSelector'), $('#setMinuteSelector')));
            });

            //DISPLAY DYNAMIC SETTING APP NAME
            $("#setAppName").on('keyup', function() {
                $("#notificationTitleSpan").html($("#setAppName").val());
            });

            //DISPLAY DYNAMIC UPLOAD APP LOGO IMAGE
            $("#setLogo").change(function() {
                readURL(this, $('#appLogo'));
            });

            //DISPLAY DYNAMIC NOTIFICATION MESSAGE
            $("#setNotification").on('keyup', function() {
                $("#notificationMessageSpan").html($("#setNotification").val().replace(/\r?\n/g, '<br/>'));
            });
        });

    </script>
</body>

</html>
