<!-- views/page1.ejs -->


<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Page1</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
    <style>
        body {
            padding-top: 20px;
            padding-bottom: 20px;
        }

        .thumbnail {
            position: relative;
            z-index: 999;
            height: 400px;
            width: 300px;
            border: none;
        }

        .thumbnail img {
            height: 100%;
            width: 100%;
        }

        #headline {
            position: absolute;
            top: 2px;
            right: 2px;
            background-color: black;
            color: white;
            padding-left: 2px;
            padding-right: 2px;
        }

    </style>
</head>

<body>
    <div class="container">
        <%- include('partials/header') %>
            <div class="row">
                <div class="col-2">
                    <%- include('partials/navbar') %>
                </div>
                <div class="col-5">
                    <div class="container">
                        <!--Upload image-->
                        <div>
                            <label for="imageUpload">Choose file to upload</label>
                            <input type="file" id="imageUpload" name="imageUpload" accept=".jpg, .jpeg, .png" />

                        </div>

                        <!--Headline-->
                        <div>
                            <label for="headlineInput">Headline:</label>
                            <input type="text" id="headlineInput" placeholder="Please input..." />
                        </div>

                        <!--Save Button-->
                        <div>
                            <label for="previewButton">Preview generated Image</label><br>
                            <button id="previewButton">Preview</button>
                            <div id="previewImage">
                            </div>
                            <label for="saveButton">Save the preview image in your local space!
                            </label><br>
                            <button id="saveButton">Save</button>
                        </div>
                    </div>
                </div>

                <div class="col-5">
                    <div id="capture">
                        <div id="thumbnail" class="thumbnail">
                            <img id="uploadedImage" />
                            <h1 id="headline" placeholder="Please input..."></h1>
                        </div>

                    </div>
                </div>
            </div>

            <%- include('partials/footer') %>
    </div>


    <script>
        var CAPTURE_WIDTH = '300';
        var CAPTURE_HEIGHT = '400';

        function saveBase64AsFile(base64, fileName) {
            var link = document.createElement("a");

            link.setAttribute("href", base64);
            link.setAttribute("download", fileName);
            link.click();
        }

        function previewCaptured() {
            let captured = document.getElementById("thumbnail");
            html2canvas(captured, {
                onrendered: function(canvas) {
                    let extra_canvas = document.createElement("canvas");
                    extra_canvas.setAttribute('width', CAPTURE_WIDTH);
                    extra_canvas.setAttribute('height', CAPTURE_HEIGHT);
                    let ctx = extra_canvas.getContext('2d');
                    ctx.drawImage(canvas, 0, 0, canvas.width, canvas.height, 0, 0, CAPTURE_WIDTH, CAPTURE_HEIGHT);
                    let dataURL = extra_canvas.toDataURL();
                    let img = $(document.createElement('img'));
                    img.attr('src', dataURL);
                    // insert the thumbnail at the top of the page
                    $('#previewImage').append(img);
                }
            });
        }

        function saveCaptured() {

            let captured = document.getElementById('thumbnail');
            html2canvas(captured, {
                onrendered: function(canvas) {
                    let extra_canvas = document.createElement("canvas");
                    extra_canvas.setAttribute('width', CAPTURE_WIDTH);
                    extra_canvas.setAttribute('height', CAPTURE_HEIGHT);
                    let ctx = extra_canvas.getContext('2d');
                    ctx.drawImage(canvas, 0, 0, canvas.width, canvas.height, 0, 0, CAPTURE_WIDTH, CAPTURE_HEIGHT);
                    let dataURL = extra_canvas.toDataURL("image/png");
                    let a = document.createElement('a');
                    a.setAttribute("href", dataURL.replace("image/png", "image/octet-stream"));
                    a.setAttribute("download", "capture.png");
                    a.click();
                }
            });
        }

        $(document).ready(function() {

            /*Upload Image*/
            $("#imageUpload").change(function() {
                let reader = new FileReader();

                reader.onload = function(e) {
                    // get loaded data and render thumbnail.
                    $("#uploadedImage").attr("src", e.target.result);
                };

                // read the image file as a data URL.
                reader.readAsDataURL(this.files[0]);
            });

            /*Input Headline*/
            $("#headlineInput").keypress(function() {
                $("#headline").html($("#headlineInput").val());
            });


            /*Preview Image*/
            $('#previewButton').click(function() {
                previewCaptured();
            });

            /*Save Image*/
            $('#saveButton').click(function() {
                saveCaptured();
            });


        }); //Document.Ready

    </script>
</body>

</html>
