body {
    min-width:1260px;
}



/*PAGE HEADER*/

div.page-header {
    background: #1C3359 !important;
    color:white;
    width: auto;
    height: 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;

}

div.page-title > span {
    color: white;
    line-height: 4rem;
}

div.page-downloadmockup {
    background: black;
    border-radius: 20px;
    height: 50%;
    padding: 0rem 3rem;
    line-height: 2rem;
}

/*PAGE NAV BAR*/

div.page-navbar {
    background:white;
    height: 100vh;
    overflow:auto;
    margin:auto;
    min-width:180px !important;

}

div.page-navbar-logo {
    padding-top: 5rem;
    padding-bottom: 1rem;
}

a.nav-link {
    font-size: 0.825rem;
    color: black;
    text-align: center;

}

/*PAGE RIGHT BAR*/

div.page-rightbar {
    background: white;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: auto;
    width:380px;
    
}

div.page-content {
    box-shadow: inset 0 0 10px #0000008f;
    height:calc(100% - 4rem);
    background-color: #B3C4DD;
    min-height:700px;
}

/*PAGE SCREEN*/

div.page-screen {
    margin-top: 5rem;
    width: 375px;
    /** width: 750px; **/
    height: 667px;
    /** height: 1334px; **/
    position: relative;
}

div.page-livechatscreen {
    margin-top: 5rem;
    width: 320px;
    /** width: 640px; **/
    height: 500px;
    /** height: 1000px; **/
    position: relative;
    display:none;
}

div.page-settings {
    margin-top: 5rem;
}

div.page-setting-element {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

div.capture {
    height: 100%;
    width: 100%;
}

/*GENERAL PROPERTY*/

.uppercase {
    text-transform: uppercase;
}

span.wraptext {
    overflow: break-word;
    white-space: initial;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

span.normal-inlineheight {
    line-height: normal;
}

.border-round_small {
    border-radius: 5px;
}

select {
    text-align-last: center;
}

/*Work around for white left margin in html2canvas*/
.hide-scrollbar {
	overflow: -moz-hidden-unscrollable;
	overflow: hidden;
}