body {
    min-width: 1260px;
    animation: fadein 0.5s;
    -moz-animation: fadein 0.5s;
    /* Firefox */
    -webkit-animation: fadein 0.5s;
    /* Safari and Chrome */
    -o-animation: fadein 0.5s;
    /* Opera */
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {

    /* Firefox */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {

    /* Safari and Chrome */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {

    /* Opera */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* SLDS Override */

.slds-select {
    padding-left: 1rem !important;
}

.slds-form-element__label {
    font-size: 15px;
    color: #333;
    font-weight: 500;
}

.slds-form-element .slds-input,
.slds-form-element .slds-select,
.slds-form-element .slds-textarea,
.slds-file-selector .slds-file-selector__dropzone {
    border-radius: 0.5rem;
    border-color: #cfd4d9;
    border-width: 1.5px;
    font-size: 15px;
}

.slds-file-selector,
.slds-file-selector__dropzone {
    width: 100%;
}

.slds-file-selector__dropzone {
    padding: 0.625rem 0.75rem;
}

.slds-form-element .slds-checkbox .slds-checkbox__label {
    margin-bottom: unset;
}

.slds-file-selector__text,
.slds-file-selector__button {
    font-size: 15px;
    font-weight: lighter;
}



/*PAGE HEADER*/

div.page-header {
    background: #4285F4 !important;
    color: white;
    width: auto;
    height: 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;

}

div.page-title>span {
    color: white;
    line-height: 4rem;
}

/* OLD START */
div.page-downloadmockup {
    background: #ffffff;
    color: #333333;
    border-radius: 20px;
    height: 50%;
    padding: 0rem 3rem;
    line-height: 2rem;
}

div.page-navbar {
    background: white;
    height: 100vh;
    overflow: auto;
    margin: auto;
    min-width: 180px !important;
}

div.page-navbar-logo {
    padding-top: 5rem;
    padding-bottom: 1rem;
}

a.nav-link {
    font-size: 0.825rem;
    color: black;
    text-align: center;
}

/* OLD FINISH */

/* PAGE LAYOUT */

div.pageLayoutContainer {
    position: fixed;
    width: 100%;
    height: 100%;
}

hr.settingDividendLine {
    color: #e6e6e6;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
}


/*PAGE RIGHT BAR*/

div.page-rightbar {
    background: white;
    overflow-x: auto;
    min-width: 380px;
}

@media only screen and (max-height: 800px) {
    div.page-rightbar .setting-container {
        max-height: 85vh !important;
    }
}

div.page-rightbar .setting-container {
    max-height: 90vh;
    overflow-y: scroll;
    padding-left: 3rem;
    padding-right: 3rem;
}

.page-actionbuttonContainer {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.page-actionbutton {
    margin-left: auto;
    margin-right: 0;
    width: 190px;
    border-radius: 20px;
    padding: 0rem 3rem;
    line-height: 2rem;
    display: block;
    text-align: center;
    cursor: pointer !important;
}

.page-actionbutton:hover {
    text-decoration: unset;
}

.page-actionbutton a:hover {
    text-decoration: unset;
}

.page-actionbutton.brand:hover {
    color: white;
}

.page-actionbutton.outline-brand {
    border: 1.5px solid #0777FF;
    color: #0777FF;
    background: #fff;
}

.page-actionbutton.brand {
    background: #0777ff;
    color: #FFF;
}

a.page-downloadbutton .arrow-down {
    display: inline-block;
    padding-bottom: 4px;
    margin-left: 4px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
}


div.page-content {
    height: calc(100% - 4rem);
    background-color: #ecf0f1;
    min-height: 700px;
}

/*PAGE SCREEN*/

div.page-screen {
    width: 375px;
    /** width: 750px; **/
    height: 667px;
    /** height: 1334px; **/
    position: relative;
}

div.page-livechatscreen {
    margin-top: 5rem;
    width: 320px;
    /** width: 640px; **/
    height: 500px;
    /** height: 1000px; **/
    position: relative;
    display: none;
}

div.page-settings {
    margin-top: 2rem;
}

div.page-setting-element {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

div.capture {
    height: 100%;
    width: 100%;
}

/*GENERAL PROPERTY*/

.uppercase {
    text-transform: uppercase;
}

span.wraptext {
    overflow: break-word;
    white-space: initial;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

span.normal-inlineheight {
    line-height: normal;
}

.border-round {
    border-radius: 0.25rem;
    border: 1px solid #dddbda;
}

.width80 {
    width: 80%;
}



/*Work around for white left margin in html2canvas*/
.hide-scrollbar {
    overflow: -moz-hidden-unscrollable;
    overflow: hidden;
}