    #n_backGroundImage {
        width: inherit;
        height: inherit;
        position: absolute;
    }

    .n_TimeAndDateDisplay {
        text-align: center;
        position: absolute;
        font-family: -apple-system, BlinkMacSystemFont, sans-serif;
        font-weight: 200;
        color: white;
        top: 12.74%;
    }

    div.notificatondisplay {
        position: absolute;
        top: 30.43%;
        width: 95.47%;
        padding: 10px 10px;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 12px;
        font-size: 0.825rem;
        font-family: -apple-system, BlinkMacSystemFont, sans-serif;
        white-space: nowrap;

    }

    div.notificatondisplay .row {
        margin-left: 0px;

    }

    span.notificationBar {
        color: rgba(0, 0, 0, 0.9);
        vertical-align: middle;
    }

   
    /**NOTIFICATION APP LOGO**/
    div#notificationAppLogo {
        max-width: 39px;
        max-height: 39px;
        display: block;
        position: relative;
        overflow: hidden;
        padding: 0px;
    }

    div#notificationAppLogo img {
        position: absolute;
        top: 0;
        left: 0;
        width: auto;
        height:auto;
        border-radius: 5px;
    }

    
    /**NOTIFICATION HEADBAR DISPLAY**/
    div#notificationHeadlineDisplay {
        line-height: 39px;
        font-size: 16px;
        font-weight: 400;
    }
    
    div.n-timeAgo_pullright {
        text-align: right;
        padding-right: 0px;
    }

    div#notificationAppName {
            /* Reduce the default left/right padding on div 15px->5px */
            padding: 0px 10px;
        }

    /**NOTIFICATION MESSAGE DISPLAY**/
    div#notificationMessage {
        /* Add extra padding above notification message */
        padding-top: 10px;
        font-size:20px;
        font-weight: 400;
    }
