@font-face {
    font-family: 'Gotham Bold';
    src: url(assets/fonts/webfonts/Gotham-Bold.woff) format("woff");
}

@font-face {
    font-family: 'SalesforceSans-Light';
    src: url(assets/fonts/webfonts/SalesforceSans-Light.woff) format("woff");
}

div.homeBackground {
    background-image: url('img/home_background.png');
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    min-width: inherit;
}

.page-navbar_horizontal {
    background-color: unset !important;
}

div.title,
div.cta-button,
div.footer {
    color: white;
}

div.footer {
    font-size: 12px;
    background: #011935;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

div.content {
    width: 70%;
    margin: auto;
}

div.title p {
    font-family: Gotham Bold, Arial, Helvetica, sans-serif;
    line-height: 4.25rem;
}

div.title>p:first-child {
    font-size: 6.75rem
}

div.title>p:nth-child(2) {
    font-size: 5.25rem;
}

div.caption {
    font-size: 1.725rem;
    color: #ccc;
    font-family: SalesforceSans-Light;
    width: 70%;
    margin: auto;
}

div.cta-button {
    padding-top: 4rem;
}

div.cta-button button {
    background: #00a1e0;
    border: 0px;
    padding: 1rem 4rem;
    border-radius: 60px 60px 60px 60px;
    font-size: 1.5rem;
}

div.cta-button a {
    color: white;
}

div.cta-button a:hover {
    color: white;
    text-decoration: unset;
}

.triangle-right {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 12px solid #fff;
    border-bottom: 10px solid transparent;
    display: inline-block;
    m