<!--Screen Display-->
<div class="capture">

    <img src="img/Lock_Screen_Background.png" id="n_backGroundImage" />

    <!--Time + Date Display-->
    <div class="row slds-align_absolute-center">
        <div class="n_TimeAndDateDisplay">
         
           <div id="timedisplay" class="lock_screen-time">
                9:30
            </div>

            <div id="datedisplay" class="lock_screen-date">
                <!--jQuery Loading today's date using moment()-->
                Thursday, September 8
            </div>
        </div>

    </div>

    <!-- Notification Display-->
    <div class="row slds-align_absolute-center">
        <div class="notificatondisplay">
            <div class="col">
                <div class="row" id="notificationHeadlineDisplay">
                    <div id="notificationAppLogo">
                        <img id="appLogo" src="img/salesforceinbox-logo.png" />
                    </div>
                    <div class="col-1" id="notificationAppName">
                        <span id="notificationTitleSpan" class="uppercase notificationBar">App name</span>
                    </div>
                    <div class="col-8"></div>
                    <div class="col-offset-2 n-timeAgo_pullright">
                        <span id="notificationTimeSpan" class="notificationBar">now</span>
                    </div>
                </div>
                <div class="row" id="notificationMessage">
                    <span id="notificationMessageSpan" class="wraptext">Example Notifications</span>
                </div>
            </div>
        </div>
    </div>

    

</div>
<!--End of lockscreen-->
