<!--Screen Display-->
<!--
-->
<style>
    .em-screen-gm_desktop {
        width: 1000px;
        height: 625px;
        background: black;
    }
</style>


<div class="em-screen-gm_desktop page-screen" id="capture">

</div>
<!--End of lockscreen-->