<!--Screen Display-->
<style>
.page-facebookleadad-mobilescreen{
    border-radius:4px;
}

.fb_lead_ad-content_container{
    width:100%;
    height:358.23px;
    padding:10px;
    line-height: 18px;
    font-family: helvetica, arial, sans-serif;
    font-size: 14px;
    word-wrap: break-word;
    position: relative;
}

.fb_lead_ad-topbar {
    width:100%;
    height:40px;
    line-height: 40px;
    display:flex;
    align-items: center;
}



.fb_lead_ad-buttons_group {
    position:absolute;
    left:0;
    bottom:0;
}

.fb_lead_ad-adcontent-adframe{
    width:100%;
    border-radius: 4px;
    position: relative;
    word-wrap: break-word;
    background: #fff;
    display: block;
    margin: 8px 0;
}

.page-facebookleadad-mobilescreen {
    margin-top: 5rem;
    width:320px;
    min-height:394px;
    background:white;
    position: relative;
}

.custom-h2 {
    font-size:14px;
    line-height: 17px;
    font-weight: bold;
    margin-bottom:3px;
    margin-top:1px;
}

.custom-smalltext_gray {
    font-size: 12px;
    line-height: 16px;
    color: #9197a3;
}

.fb_lead_ad-topbar span{
    display:block;
}



</style>
<div class="page-facebookleadad-mobilescreen"  id="capture">
    <div class="fb_lead_ad-content_container">
        <div class="fb_lead_ad-topbar">
            <img src="img/logo-placeholder_square.png" id="appLogo" style="width:40px; top:0"/>
            <div style="display: inline-block; padding-left:10px; height:inherit;">
                <p class="custom-h2" id="facebook_leadad-advertiserName">Advertiser Name</p>
                <span class="custom-smalltext_gray">Sponsored<span>
            </div>
        </div>
        <div class="fb_lead_ad-adcontent">
            <p class="slds-m-top_small" id="facebook_leadad_mobile-contect_post">Your Message Here</p>
            <div class="fb_lead_ad-adcontent-adframe">
                <img src="img/image-placeholder_1200x628.jpg"/>
            </div>
        </div>

        <div class="fb_lead_ad-feedbackbar"
        
        ></div>

    </div>
    <div class="fb_lead_ad-buttons_group">
        <img src="img/Lead_Ad_Mock_Bar.png"/>
    </div>
</div>
<!--End of lockscreen-->
