<!--Screen Display-->

<div class="page-screen" id="capture">
    <%- include('../partials/igAppHeader') %>
    <div class="ig_post-content_container">
        <div class="ig_post-topbar slds-p-around_x-small">
            <div class="slds-grid">
                <div class="slds-col slds-size_4-of-5">
                    <img id="igpost_getProfileIcon" class="round ig_profileIcon" src="img/salesforce-logo.png" />
                    <span id="igpost_getProfileName" class="igpost_getProfileName slds-p-left_x-small">saleforce</span>
                    <span><img class="ig_icon12" id="igpost_getVerified" src="img/insta_icon_verified.png" /></span>
                </div>
                <div class="slds-col slds-size_1-of-5 slds-text-align_right autoMargin">
                    <img class="ig_icon30" src="img/insta_icon_dotdotdot.png" />
                </div>
            </div>
        </div>

        <div id="igpost_getPostImage_container">
            <img id="igpost_getPostImage" src="img/insta_img-placeholder_salesforcepost.jpg" />
        </div>
        <div class="ig_post-likebar slds-p-around_x-small">
            <div class="slds-grid">
                <div class="slds-col slds-size_1-of-2">
                    <img class="ig_icon25_inline" src="img/insta_icon_like_red.png" />
                    <img class="ig_icon25_inline" src="img/insta_icon_message.png" />
                    <img class="ig_icon25_inline " src="img/insta_icon_shareRotate20.png" />
                </div>
                <div class="slds-col slds-size_1-of-2 slds-text-align_right">
                    <img class="ig_icon25_inline" src="img/insta_icon_bookmark.png" />
                </div>
            </div>
        </div>
        <div class="igpost-post_postcontainer">
            <div class="slds-p-horizontal_x-small igpost_font15 fontweight300">
                <span id="igpost_getProfileNameOnPost" class="igpost_getProfileName inline">salesforce</span>
                <div class="inline overflow_hidden">
                    <p id="igpost_getPostText"></p>
                </div>
            </div>
        </div>
    </div>
    <%- include('../partials/igAppFooter') %>
</div>
<!--End of lockscreen-->