<!--Screen Display-->
<!--
-->
<style>

</style>

<!--
-->

<div class="page-facebookleadad-mobilescreen" id="capture">
    <div class="fb_lead_ad-content_container">
        <div class="fb_lead_ad-topbar">
            <img src="img/logo-placeholder_square.png" id="appLogo" style="width:40px; top:0" />
            <div style="display: inline-block; padding-left:10px; height:inherit;">
                <p class="custom-h2" id="facebook_leadad-advertiserName">Your Page Name Here</p>
                <span class="custom-smalltext_gray">Sponsored<span>
            </div>
        </div>
        <div class="fb_lead_ad-adcontent">
            <p class="slds-m-vertical_xx-small" id="facebook_leadad_mobile-Ad-Text">
                <!--FB Lead Ad Spec Text (Max 90 Chars)-->
                Your Text Here
            </p>
            <div class="fb_lead_ad-adcontent-adframe">
                <img id="postImage" src="img/image-placeholder_1200x628.jpg" />
                <p class="slds-m-vertical_xx-small slds-p-left_small" id="facebook_leadad_mobile-Ad-Headline">
                    <!--FB Lead Ad Spec Headline (Max 25 Chars)-->
                    Your Headline Here
                </p>
                <p class="slds-m-vertical_xx-small slds-p-left_small " id="facebook_leadad_mobile-Ad-LinkDescription">
                    <!--FB Lead Ad Spec Link Description (Max 30 Chars)-->
                    Your Link Description Here
                </p>
                <div class="slds-m-top_x-small slds-p-left_small" id="fb_lead_ad-CTA-container">
                    <span id="facebook_leadad_mobile-Ad-Caption">
                        <!--FB Lead Ad Spec Caption (Max 25 Chars)-->
                        Your Caption Here
                    </span>
                    <button type="button" class="slds-m-bottom_xx-small slds-m-right_xx-small"
                        id="fb_lead_ad-CTA-button">Learn More</button>
                </div>
            </div>
        </div>

        <div class="slds-grid slds-p-top_small" id="fb_lead_ad-feedbackbar">
            <div class="slds-col slds-size_1-of-3" id="fb-likes_container">
                <div id="fb-likes_icons_container">
                    <img class="fb-likes_icons" src="img/fb_reaction_love.png" />
                    <img class="fb-likes_icons" src="img/fb_reaction_haha.png" />
                    <img class="fb-likes_icons" src="img/fb_reaction_wow.png" />
                </div>
                <span id="fb-likes_number" class="slds-m-left_xx-small">2</span>
            </div>

            <div class="slds-col slds-size_2-of-3 slds-text-align_right">
                <span id="fb-comments_number">546</span>
                <span class="slds-m-right_x-small">Comments</span>
                <span id="fb-shares_number">311</span>
                <span>Shares</span>
            </div>
        </div>
    </div>
    <div class="fb_lead_ad-buttons_group">
        <img src="img/Lead_Ad_Mock_Bar.png" />
    </div>
</div>
<!--End of lockscreen-->