<div class="page-screen" id="capture">

    <img src="/img/Message_Screen_Background.png" id="lm_backGroundImage" />

    <div class="lm_timedisplay slds-text-align--center" id="timedisplay">2:00 pm</div>
    <div class="lm_initials slds-text-align--center uppercase" id="lm_initialdisplay">S</div>
    <div class="lm_contactNameDisplay slds-text-align--center" id="lm_contactNameDisplay">
        Salesforce</div>

    <div class="lm_chat-sectioncontainer">
        <section id="chatPanelPreview">

            <div class="from-them">
                Hi Rachel! Thanks for contacting us today. Can you take 1 minute to take a survey about your experience
                with us? Just go here: <a href="https://sfsurvey.co">https://sfsurvey.co</a> Thanks for your help!
            </div>

            <div class="from-me">
                Sure 😄
            </div>

        </section>
    </div>

</div>