<div class="capture" id="capture">
    <div class="ctn ctn-mockupscreen" id="thumbnail">
        <img src="/img/Message_Screen_Background.png" alt="text screen background" id="img-bg">
        <div class="div-timedisplay" id="timedisplay">2:00 pm</div>
        <div class="div-initials uppercase" id="initialdisplay">SF</div>
        <div class="ctn ctn-section">
            <section id="chatPanelPreview">
                <div class="from-me">
                    Example From Me 😄
                </div>

                <div class="from-them">
                    Example From Them 😄
                </div>
            </section>
        </div>
    </div>
</div>
