<div class="page-livechatscreen slds-align_absolute-center" id="capture">

    <div class="lc_chatuserscreen slds-align_absolute-center">
        
        <!--SMALL HEADBAR-->
        <div class="lc_smallheaderbar defaultbackground slds-align_absolute-center">
            <!--:Small Header Icons--->
            <img class="lc_smallHeaderImage" src="img/LiveChat_HeaderIcon_Black.png"/>
            <span class="slds-text-heading_large">Live Chat</span>
        </div>

        <!--USER INPUT GROUP-->
        <div class="lc_userinputgroup">
            
            <!--input:FIRST NAME LAST NAME-->
            <div class="slds-grid">
                <div class="slds-col">
                    <div class="slds-form-element">
                        <label class="slds-form-element__label" for="lc_firstnameInput">
                        <abbr class="slds-required" >*</abbr> First Name</label>
                        <div class="slds-form-element__control">
                            <input type="text" required="" id="lc_firstnameInput" class="slds-input" placeholder="" />
                        </div>
                    </div>
                </div>
                <div class="slds-col">
                    <div class="slds-form-element">
                        <label class="slds-form-element__label" for="lc_lastnameInput">
                        <abbr class="slds-required">*</abbr>Last Name</label>
                        <div class="slds-form-element__control">
                            <input type="text" required="" id="lc_lastnameInput" class="slds-input" placeholder="" />
                        </div>
                    </div>
                </div>
            </div>
            
            <!--input:EMAIL-->
            <%- include('../helper/inputtext', {id:'lc_emailInput', placeholder:'', label:'Email'})%>

            <!--input:SUBJECT-->
            <%- include('../helper/inputtext', {id:'lc_subjectInput', placeholder:'', label:'Subject'})%>


        </div>
        
        <!--START CHAT BUTTON-->
        <div class="lc_bottombutton slds-align_absolute-center defaultbackground" id="lc_startchatbutton">
            Start Chatting
        </div>

    </div>

</div>

<style>



</style>
