
    <div class="page-livechatscreen" data="1" name="livechatDisplay" id="capture">

        <div class="lc_chatbutton slds-align_absolute-center lc_actionColorElement">
            <img src="img/LiveChat_Message_Icon_Black.png" />
            <span class="uppercase" id="lc_chatwithexpertDisplay">CHAT WITH AN EXPERT</span>
        </div>

    </div>


<div class="page-livechatscreen slds-align_absolute-center" data="2" name="livechatDisplay" id="captureNotActive">

    <div class="lc_chatuserscreen slds-align_absolute-center">

        <!--SMALL HEADBAR-->
        <div class="lc_smallheaderbar defaultBlackBg slds-align_absolute-center">
            <!--:Small Header Icons-->
            <img class="lc_smallHeaderImage" src="img/LiveChat_HeaderIcon_White.png" />
            <span id="smallHeaderBarText" class="slds-text-heading_small">Live Chat</span>
        </div>

        <!--USER INPUT GROUP-->
        <div class="lc_userinputgroup">

            <!--input:FIRST NAME LAST NAME-->
            <div class="slds-grid">
                <div class="slds-col">
                    <div class="slds-form-element">
                        <label class="slds-form-element__label" for="lc_fnameDisplay">
                        <abbr class="slds-required" >*</abbr>First Name</label>
                        <div class="slds-form-element__control">
                            <input type="text" required="" id="lc_fnameDisplay" class="slds-input" placeholder="" value="Lauren"/>
                        </div>
                    </div>
                </div>
                <div class="slds-col">
                    <div class="slds-form-element">
                        <label class="slds-form-element__label" for="lc_lnameDisplay">
                        <abbr class="slds-required">*</abbr>Last Name</label>
                        <div class="slds-form-element__control">
                            <input type="text" required="" id="lc_lnameDisplay" class="slds-input" placeholder="" value="Bailey"/>
                        </div>
                    </div>
                </div>
            </div>

            <!--input:EMAIL-->
            <div class="slds-form-element">
                <label class="slds-form-element__label" for="lc_emailDisplay">Email</label>
                <div class="slds-form-element__control">
                    <input type="text" required="" id="lc_emailDisplay" class="slds-input" placeholder="" value="lbailey@example.com"/>
                </div>
            </div>


            <!--input:SUBJECT-->
            <div class="slds-form-element">
                <label class="slds-form-element__label" for="lc_subjectDisplay">Subject</label>
                <div class="slds-form-element__control">
                    <input type="text" required="" id="lc_subjectDisplay" class="slds-input" placeholder="" value="Hello"/>
                </div>
            </div>


        </div>

        <!--START CHAT BUTTON-->
        <div class="lc_bottombutton slds-align_absolute-center activebackground" id="lc_startchatbuttonDisplay">
            Start Chatting
        </div>

    </div>

</div>


<div class="page-livechatscreen slds-align_absolute-center" data="3" name="livechatDisplay" id="captureNotActive">

    <div class="lc_chatuserscreen slds-align_absolute-center">

        <!--LARGE HEADBAR-->
        <div class="lc_largeheaderbar slds-align_absolute-center defaultbackground">
            <!--child:Small Header Icons-->
            <img class="lc_smallHeaderImage" 
            id="lc_headerGroup1"
            src="img/LiveChat_HeaderIcon_Black.png" />

            <!--child:Users Greeting Title-->
            <div class="slds-text-heading_large lc_headerGreetingTitle" id="lc_userGreetingTitleInput">
                Hello <span name="lc_fnameDisplaySpan">Lauren</span>!
            </div>

            <!--child:Users Profile Image-->
            <div class="lc_headerProfilePhoto">
                <img src="img/salesforce-logo.png" id="lc_agentImageDisplay"/>
            </div>

            <!--child:Users Greeting Message-->
            <div class="slds-text-heading_large lc_headerGreetingMessage" id="lc_userGreetingMessageInput">
                An agent is on the way.
            </div>

        </div>



        <!--DOTS-->
        <div class="lc_loadingdots slds-align_absolute-center">
            <div class="circle lc_circle-md activebackground lc_actionColorElement"></div>
            <div class="circle lc_circle-sm activebackground lc_actionColorElement"></div>
            <div class="circle lc_circle-sm activebackground lc_actionColorElement"></div>
        </div>

        <!--CANCEL CHAT BUTTON-->
        <div class="lc_bottombutton slds-align_absolute-center defaultbackground" id="lc_startchatbutton">
            Cancel
        </div>

    </div>

</div>

<div class="page-livechatscreen slds-align_absolute-center" data="4" name="livechatDisplay" id="captureNotActive">

    <div class="lc_chatuserscreen slds-align_absolute-center">

        <!--LARGE HEADER-->
        <div class="lc_largeheaderbar slds-align_absolute-center defaultbackground toFront">
            <!--child:Header Group Image-->
            <img class="lc_groupHeaderImage putfront" src="img/LiveChat_HeaderGroup_Black.png" id="lc_headerGroup2"/>

            <!--child:Header Agent Name-->
            <span class="lc_headerAgentName putfront" id="lc_headerAgentNameDisplay">Tim</span>

        </div>

        <!--CHAT START TIME-->
     

        <!--CHAT CONTAINER-->
        <div class="lc_chatContainer">
                <div>
                        Chat started at <span id="lc_chatStartTimeDisplay">9:00 AM</span>
                    </div>
            <section role="log" class="slds-chat">
                <ul class="slds-chat-list">
                    <li class="slds-chat-listitem slds-chat-listitem_inbound">
                        <div class="slds-chat-message">
                            <div class="slds-chat-message__body">
                                <div class="slds-chat-message__text slds-chat-message__text_inbound">
                                    <span>Hi, my CloudWidget only speaks French</span>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="slds-chat-listitem slds-chat-listitem_outbound">
                        <div class="slds-chat-message">
                            <div class="slds-chat-message__body">
                                <div class="slds-chat-message__text slds-chat-message__text_outbound">
                                    <span>Hi Lauren, thank you for contacting Widget Support. Can you please tell me what language you are trying to program on your CloudWidget?
                                    </span>
                                </div>

                            </div>
                        </div>
                    </li>  
                    
                    <li class="slds-chat-listitem slds-chat-listitem_inbound">
                        <div class="slds-chat-message">
                            <div class="slds-chat-message__body">
                                <div class="slds-chat-message__text slds-chat-message__text_inbound">
                                    <span>I'm not trying to program any language</span>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="slds-chat-listitem slds-chat-listitem_outbound">
                        <div class="slds-chat-message">
                            <div class="slds-chat-message__body">
                                <div class="slds-chat-message__text slds-chat-message__text_outbound">
                                    <span>Sorry to hear that. Let me see what I can do about this.
                                    </span>
                                </div>

                            </div>
                        </div>
                    </li> 

                </ul>
            </section>
        </div>


        <!--CANCEL CHAT BUTTON-->
        <div class="lc_bottombutton toFront slds-align_absolute-center defaultbackground" id="">
            Cancel
        </div>

    </div>

</div>

<style>
    
    .toFront {
        z-index:1;
    }
    
    .slds-chat-message {
        width:90%;
    }

    img.lc_groupHeaderImage {
        width: 90%;
        position: absolute;
        top: 20px;
    }

    span.lc_headerAgentName {
        position: absolute;
        top: 15px;
        font-size: 13px;
        font-weight: 700;
    }

    div.lc_chatStartMessage {
        position: absolute;
        top: 40%;
        font-size: 12px;
        font-weight: 600;
        background: white;
        width: 100%;
        height: 5%;
        text-align: center;
        line-height: 32px;
    }

    div.lc_chatContainer {
        position: absolute;
        top: 45%;
        width: 100%;
        height: 40%;
        overflow-y:scroll;
   
    }

    div.lc_bottombutton {
        overflow: hidden;
    }

    /**HIDE THE SCROLL BAR**/
    div.lc_chatContainer {
    -ms-overflow-style: none;  
    overflow: -moz-scrollbars-none; 
    }
    div.lc_chatContainer::-webkit-scrollbar { 
        display: none;  
    }
    
    
    div.lc_chatContainer .slds-chat-message__text {
        white-space: normal;
    }

    #lc_chatwithexpertDisplay {
        width: 170px;
        overflow-x: hidden;
    }



</style>
