<div class="page-livechatscreen slds-align_absolute-center" id="capture">

    <div class="lc_chatbutton slds-align_absolute-center">
        <img src="img/LiveChat_Message_Icon_Black.png" />
        <span class="uppercase">CHAT WITH AN EXPERT</span>
    </div>

</div>