<div class="page-livechatscreen slds-align_absolute-center" id="capture">

    <div class="lc_chatuserscreen slds-align_absolute-center">

        <!--LARGE HEADBAR-->
        <div class="lc_largeheaderbar slds-align_absolute-center defaultbackground">
            <!--child:Small Header Icons--->
            <img class="lc_smallHeaderImage" src="img/LiveChat_HeaderIcon_Black.png" />

            <!--child:Users Greeting Title--->
            <div class="slds-text-heading_large lc_headerGreetingTitle" id="lc_userGreetingTitleInput">
                Hello John!
            </div>

            <!--child:Users Profile Image--->
            <div class="lc_headerProfilePhoto">
                <img src="img/salesforce-logo.png" name="lc_profilePhotoDisplay"/>
            </div>

            <!--child:Users Greeting Message--->
            <div class="slds-text-heading_large lc_headerGreetingMessage" id="lc_userGreetingMessageInput">
                An agent is on the way.
            </div>

        </div>



        <!--DOTS-->
        <div class="lc_loadingdots slds-align_absolute-center">
            <div class="circle lc_circle-md activebackground"></div>
            <div class="circle lc_circle-sm activebackground"></div>
            <div class="circle lc_circle-sm activebackground"></div>
        </div>

        <!--CANCEL CHAT BUTTON-->
        <div class="lc_bottombutton slds-align_absolute-center defaultbackground" id="lc_startchatbutton">
            Cancel
        </div>

    </div>

</div>
